*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*Imagen Principal*/
:root
{
    --padding-container: 100px 0;
    --color-title: #001a49;
}
.hero
{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
}
.hero::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #00000049 0%, #00000049 100%), url(./img/fondoP.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}
.hero__container
{
    margin-top: 200px;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.hero__title
{
    font-size: 3rem;
    color: #162933;
    margin-bottom: 7px;
}
.hero__paragraph
{
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: #FEE3D2;
}
.cta
{
    display: inline-block;
    background-color: #FF756B;
    justify-self: center;
    color: #FEE3D2;
    text-decoration: none;
    padding: 13px 20px;
    border-radius: 30px;
}
/*Productos Favoritos*/
.product
{
    text-align: center;
}
.subtitle
{
    color: #162933;
    font-size: 2rem;
    margin-bottom: 15px;
}
.product p
{
    color: #FF756B;
    font-size: 1.3rem;
}
/*Información*/
.info
{
    padding-left: 100px;
    padding-top: 30px;
    padding-right: 100px;
    padding-bottom: 30px;
    background-color: rgba(45, 63, 71, 0.24);
    opacity: 1;
    background-image:  radial-gradient(#FEE3D2 0.8500000000000001px, transparent 0.8500000000000001px), radial-gradient(#FEE3D2 0.8500000000000001px, rgba(45, 63, 71, 0.24) 0.8500000000000001px);
    background-size: 34px 34px;
    background-position: 0 0,17px 17px;
    margin-top: 40px;
}
.row
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50
{
    position: relative;
    width: 48%;
}
.titleT
{
    color: #2d3f47;
    font-size: 2em;
    font-weight: 300;
}
.titleT span
{
    color: #162933;
    font-weight: 700;
    font-size: 2em;
    margin-right: 2px;
    margin-left: 2px;
    font-family: 'Brush Script MT';
}
.texto p
{
    font-size: 1.3em;
    color: #FF756B;
}
.texto
{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 100px;
}
.row .col50 .imgBx
{
    position: relative;
    width: 100%;
    min-height: 400px;
}
.row .col50 .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
/*Promoción*/
.price
{
    margin-top: 40px;
    text-align: center;
}
.price__table
{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
}
.price__element
{
    background-color: #374F5B;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #f8f0f0;
    --color-price: rgb(165, 180, 189);
    --bg-cta: #fff;
    --color-cta: #162933;
    --color-items: #fff;
}
.price__element--best
{
    width: 370px;
    padding: 60px 40px;
    background-color: #FF756B;
    --color-plan: rgba(255, 255, 255, 0.918);
    --color-price: #fff;
    --bg-cta: #fc5b4f;
    --color-cta: #FFF;
    --color-items: #fff;
}
.price__name
{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}
.price__price
{
    font-size: 2.5rem;
    color: var(--color-price);
}
.price__cta
{
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}
.price__items
{
    margin-top: 35px;
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--color-items);
}
/*Personas*/
.person
{
    background: #374f5b80;
    margin-top: 60px;
    padding: 20px;
}
.person__container
{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}
.person__body
{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}
.person__body--show
{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}
.person__img
{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
    padding: 20px;
}
.person__texts
{
    max-width: 700px;
}
.person__course
{
    background-color: #FF756B;
    color: #fff;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}
.person__arrow
{
    width: 90%;
    cursor: pointer;
}
.person__review
{
    color: #0e1a20;
    font-size: 20px;
}
/* Menú */
#header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #374F5B ;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li
{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a
{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #FEE3D2;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active
{
    color: #FF756B;
}
#navbar li a.active::after,
#navbar li a:hover::after
{
    content: "";
    width: 30%;
    height: 2px;
    background: #FF756B;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile 
{
    display: none;
    align-items: center;
}
#close
{
    display: none;
}

/*Responsive*/
@media (max-width:799px) {

    #navbar 
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #374F5B;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 1s;
    }
    #navbar.active
    {
        right: 0px;
    }
    #navbar li 
    {
        margin-bottom: 25px;
    }

    #mobile 
    {
        display: flex;
        align-items: center;
    }
    #mobile i 
    {
        color: #FEE3D2;
        font-size: 24px;
        padding-left: 20px;
    }
    #close
    {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 24px;
        color: #FEE3D2;
    }
    #lg-bag 
    {
        display: none;
    }
    #mobile a i:hover,
    #mobile i:hover
    {
        color: #FF756B;
    }
}
@media (max-width:477px) {
    #header 
    {
        padding: 10px 30px 10px 10px;
    }
}
@media (max-width:390px) {
    #header
    {
        width: 108%;
    }
}